<%# Navbar %>
<nav>
  <ul>
    <li><a href="<%= root_path %>">Docs</a></li>
    <li><a href="<%= root_path %>">Search Packages</a></li>
    <li><a href="<%= root_path %>">Blog</a></li>
    <li><a href="<%= root_path %>">Stats</a></li>
  </ul>
  <div class="header">
    <i class="search-icon fas fa-search"></i>
    <h1 class="header-title">ModuleSearch</h1>
  </div>
</nav>


<div class="container my-3">
  <div class="row mb-5">
  	<%# Sidebar %>
    <div class="col-md-4">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid justify-content-center">
          <button class="navbar-toggler search-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>Menu</span>
          </button>

          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <ul class="list-group"> <li class="nav-item active">
                  <a class="nav-link" href="<%= root_path %>">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= root_path %>">Creating Packages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= root_path %>">API</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= root_path %>">Configuration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= root_path %>">Pluggable Resolvers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= root_path %>">Tools</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= root_path %>">About</a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      </div>
    <%# Search form and search results %>
    <div class="col-md-8">
       <%= simple_form_for :search, url: root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for module"
        %>
        <%= submit_tag "Search", class: "search-btn" %>
      <% end %>

      <div class="table-responsive mt-4" id="result-list">
        <table class="table">
          <thead>
            <tr>
              <th><%= link_to "Name", :sort => "name"%> </th>
              <th><%= link_to "Owner", :sort => "owner"%> </th>
              <th><%= link_to "Stars", :sort => "stars"%> </th>
            </tr>
          </thead>
          <tbody id="results">
            <% @items.each do |i| %>
            <tr>
              <td><%= i.name %></td>
              <td><%= i.owner %></td>
              <td><%= i.stars %></td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%# Footer %>
 <div class="footer">

    <a href="https://www.linkedin.com/in/michelleknolly/" target="_blank"><i class="fab fa-linkedin"></i></a>

    <a href="https://github.com/michellsi" target="_blank"><i class="fab fa-github-square"></i></a>

  </div>
